*.iml
.gradle
/local.properties
.idea
.DS_Store
/captures
.externalNativeBuild

# fastlane
fastlane/report.xml
Gemfile.lock

# Android Keystore files
*.jks

# build folders
/build
app/release/
app/debug/

# others
res/_*

# environment variables
.envrc
.direnv/

