<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="de.mw136.tonuino">
    <!-- Will not show up in the store for devices without NFC support -->
    <uses-feature
            android:name="android.hardware.nfc"
            android:required="true" /> <!-- Request user permission -->
    <uses-permission android:name="android.permission.NFC" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.EnterTagActivity"
                android:parentActivityName=".ui.MainActivity"
                android:windowSoftInputMode="adjustResize" />
        <activity
                android:name=".ui.BulkWriteActivity"
                android:label="@string/bulk_activity_title"
                android:parentActivityName=".ui.MainActivity"
                android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.ReadActivity"
                android:parentActivityName=".ui.MainActivity" />
    </application>

</manifest>